body {
  font-family: "Circular Std";
}

a {
  color: black;
}

p {
  font-family: "Ultimate-Serial-Regular";
}

/*nav styling*/
.navbar {
  margin-bottom: 0;
}

.navbar-right {
  padding-right: 46px;
}

.navbar-right>li>a:hover{
  background: none;
  color: black;
  padding-bottom: 0;
  border-bottom: 3px solid #6D8F4C;
}

.navbar-header>a:hover {
  color:black;
}

#subscribe {
  color: #6D8F4C;
  border-bottom: none;
}

.navbar-brand{
  font-size: 30px;
  padding-left: 46px;
  font-weight: bold;
}

.nav li {
  font-size: 14px;
  font-family: "CircularStd-Black";
}


/**banner styling**/
.jumbotron {
  margin: 0;
}

.header {
  background-color: #F9E0BE;
  height: 75%;
}

.jumbotron img {
  width: 50%;
  display: block;
  margin: auto;
}

.intro {
  background: #313131;
  text-align: center;
  color: white;
  width: 70%;
  margin: auto;
  padding: 60px;
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin-top: -120px ;
}

.intro h1 {
  width: 80%;
  margin: auto;
}

/**story banner**/
.stories {
  background-color: white;
  margin: auto;
  height: 40%;
}

.stories h1, .journies h1 {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin-left: 20%;
}

.mission {
  font-size: 16px;
  width: 28%;
  display: inline-block;
  float: right;
  margin-right: 20%;
}

.stories p, .journies p{
  color: black;
  font-size: 14px;
  font-family: "Ultimate-Serial-Regular";
  letter-spacing: 1px;
}

.btn {
  border: 2px solid #6D8F4C;
  width: 40%;
  padding: 12px;
  margin: 24px 0;
  color: #6D8F4C;
}

/**map styling**/
.map {
  padding: 0;
}
.map>img {
  width: 100%;
  padding-top: 40px;
}

/**subscription styling**/
.subscription {
  background-color: #E76B5B;
  margin:0;
  text-align: center;
}

.email h2 {
  font-family: "CircularStd-Bold";
}

.email-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: left;
  margin: 0;
  padding: 0;
}

.email-form input {
  display: inline-block;
  width: 32%;
  margin-right: 0;
  font-family: "Ultimate-Serial-Regular";
  letter-spacing: 1px;
  border-radius: 0;
  padding: 12px;
  line-height: 20em;
}

.email-form .btn {
  width: 12%;
  display: inline-block;
  margin-left:0;
  background-color: #6D8F4C;
  color: white;
  border-radius: 0;
  padding: 12px;
}

.journies {
  height: 40%;
}

/**instagram feed**/
.feed {
  background-color: #F5F5F5;
  padding: 45px;
}

.lightwidget-widget {
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
  border: 0;
}

.feed h2 {
  margin-left: 13.5%;
  font-weight: bold;
}

/**quicklinks**/
.quicklinks {
  width: 70%;
  margin: auto;
  padding-top: 4%;
}

.quicklinks h2 {
  font-weight: bold;
  font-size: 20px;
}

.quicklinks>a, footer img {
  display: inline-block;
  margin-top: 16px;
  margin-right: 16px;
}

footer img {
  width: 4%;
}

footer>a {
  margin-right: 0;
  padding-bottom: 20%;
}

footer>a:hover {
  text-decoration: underline;
  text-decoration-color: #6D8F4C;
}
