body {
  font-family: "Circular Std";
}

a {
  color: black;
}

p {
  font-family: "Ultimate-Serial-Regular";
}

/*nav styling*/
.navbar {
  margin-bottom: 0;
}

.navbar-right {
  padding-right: 46px;
}

.navbar-right>li>a:hover{
  background: none;
  color: black;
  padding-bottom: 0;
  border-bottom: 3px solid #6D8F4C;
}

.navbar-header>a:hover {
  color:black;
}

#sub {
  color: #6D8F4C;
  border-bottom: none;
}

.navbar-brand{
  font-size: 30px;
  padding-left: 46px;
  font-weight: bold;
}

.nav li {
  font-size: 14px;
  font-family: "CircularStd-Black";
}


/**banner styling**/
.jumbotron {
  margin: 0;
}

.header {
  background-color: #F9E0BE;
  height: 75%;
}

.jumbotron img {
  width: 50%;
  display: block;
  margin: auto;
}

.intro {
  background: #313131;
  text-align: center;
  color: white;
  width: 70%;
  margin: auto;
  padding: 60px;
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin-top: -120px ;
}

.intro h1 {
  width: 80%;
  margin: auto;
}

/**story banner**/
.stories {
  background-color: white;
  margin: auto;
  height: 40%;
}

.stories h1, .journies h1, .team h1, .prints h1 {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin-left: 15%;
}

.mission {
  font-size: 16px;
  width: 28%;
  display: inline-block;
  float: right;
  margin-right: 13%;
}

.stories p, .journies p, .team p, .prints p{
  color: black;
  font-size: 14px;
  font-family: "Ultimate-Serial-Regular";
  letter-spacing: 1px;
}

.stories .btn, .journies .btn{
  border: 2px solid #6D8F4C;
  width: 40%;
  padding: 12px;
  margin: 24px 0;
  color: #6D8F4C;
}

.stories a, .journies a, .prints a{
  color: #6D8F4C;
  text-decoration: none;
}

/**map styling**/
.map {
  padding: 0;
}
.map>img {
  width: 100%;
  padding-top: 40px;
}

/**subscription styling**/
.subscription {
  background-color: #E76B5B;
  margin:0;
  text-align: center;
}

.subscription h2 {
  color: white;
  margin-bottom: 45px;
}

.email h2 {
  font-family: "CircularStd-Bold";
}

.email-form {
  display: inline-block;
  width: 50%;
}

.email-form>input {
  float: left;
  width: 80%;
  font-family: "Ultimate-Serial-Regular";
  letter-spacing: 1px;
  border-radius: 0;
  display: inline-block;
}

.email-form>button {
  width: 20%;
  height: 50px;
  display: inline-block;
  background-color: #6D8F4C;
  color: white;
  border-radius: 0;
}

#subscribe{
  color: white;
}

.journies {
  height: 40%;
}

/**instagram feed**/
.feed {
  background-color: #F5F5F5;
  padding: 45px;
}

.lightwidget-widget {
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
  border: 0;
}

.feed h2 {
  margin-left: 13.5%;
  font-weight: bold;
}

/**quicklinks**/
.quicklinks {
  width: 70%;
  margin: auto;
  padding-top: 4%;
}

.quicklinks h2 {
  font-weight: bold;
  font-size: 20px;
}

.quicklinks>a, footer img {
  display: inline-block;
  margin-top: 16px;
  margin-right: 16px;
}

footer img {
  width: 4%;
}

footer>a {
  margin-right: 0;
  padding-bottom: 20%;
}

footer>a:hover {
  text-decoration: underline;
  text-decoration-color: #6D8F4C;
}

.about h1 {
  font-size: 28px;
}

.jumbotron .guac_char {
  width: 80%;
}

.header h1 {
  font-weight: bold;
  margin: 0 15%;
}

/**about header**/
#guac_char {
  height: 85%;
}

/**journey story**/
#journies {
  height: 350%;
}

#journies h1 {
  margin-left: 15%;
  display: block;
}

#journies .left-img, #journies .right-img {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

#journies .left-img {
  margin: 45px 15%;
}

.time {
  color:#6D8F4C;
}

#journies .details {
  font-size: 16px;
  margin: 30px 0;
}

#journies .right-paragraphs, #journies .left-paragraphs {
  display: inline-block;
  width: 35%;
  vertical-align: top;
}

#journies .left-paragraphs {
  margin: 45px 15%;
}

#journies .last {
  margin: 60px 0;
}

#journies .center-img {
  display: block;
  margin: auto;
  width: 25%;
}

#journies .center {
  text-align: center;
  font-size: 20px;
}

#journies .details {
  font-size: 20px;
}

.paragraphs {
  width: 30%;
  display: block;
  margin: 45px auto;
}

/**Guac Team**/
.team {
  margin: 45px 0 ;
  height: 60%;
}
.team .fam {
  width: 100%;
}

/**Stories**/
.story h1 {
  font-size: 24px;
  vertical-align: text-top;
}

/**issues**/
div.scroll {
  margin-left: 14px;
  padding-bottom: 4%;
  overflow: auto;
  white-space: nowrap;
}

.covers {
  display: block;
  width: 100%;
}

.issues {
  width: 100%;
  margin-left: 10%;
  overflow: none;
  white-space: normal;
}

.mag {
  width: 30%;
  margin-left: 11%;
  vertical-align: top;
  display: inline-block;
}

.issues h4 {
  font-size: 16px;
  color: black;
}

.issues h2 {
  margin: 16px 0;
}
